/* body {
    background: rgb(38, 39, 39);
}

i-icon {
    --icon-color: rgb(224, 233, 240);
    --icon-size: 30px;
    cursor: pointer;
} */

body {
    /* background: rgb(38, 39, 39); */
    background-image: url(./background01.png);
    /* COVER IMPORTANT  */
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-sizing: border-box;
}

.logo {
    font-size: 24px;
}

.buttons {
    display: flex;
    gap: 15px;
}

.button {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.2s;
}

.button:hover {
    transform: scale(1.1);
}

i-icon {
    --icon-color: rgb(227, 227, 227);
    --icon-size: 24px;
}